body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
}

.App {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 1.8rem;
  margin: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
}